{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<div class="card shadow">

<div class="card-header">

<h4>

Editar Objetivo Institucional

</h4>

</div>

<div class="card-body">

{% if messages %}

{% for message in messages %}

<div class="alert alert-info">

{{ message }}

</div>

{% endfor %}

{% endif %}

<form method="post">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-success">

Actualizar

</button>

<a href="{% url 'consultar_objetivos_institucionales' %}"

class="btn btn-secondary">

Cancelar

</a>

</form>

</div>

</div>

</div>

{% endblock %}