{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow mb-4">

        <div class="card-header py-3">

            <h4 class="m-0 font-weight-bold text-primary">

                Editar Configuración

            </h4>

        </div>

        <div class="card-body">

            {% if messages %}

                {% for message in messages %}

                    <div class="alert alert-warning">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <hr>

                <button
                    type="submit"
                    class="btn btn-primary">

                    Actualizar

                </button>

                <a
                    href="{% url 'consultar_configuracion' %}"
                    class="btn btn-secondary">

                    Cancelar

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}