<h2>Consultar Entidades</h2>

<a href="{% url 'registrar_entidad' %}">
    Nueva Entidad
</a>

<br><br>

<form method="GET">

    <input
        type="text"
        name="buscar"
        placeholder="Buscar por código, nombre o responsable"
        value="{{ buscar }}"
    >

    <select name="estado">

        <option value="">Todos</option>

        <option value="1" {% if estado == "1" %}selected{% endif %}>
            Activas
        </option>

        <option value="0" {% if estado == "0" %}selected{% endif %}>
            Inactivas
        </option>

    </select>

    <button type="submit">
        Buscar
    </button>

</form>

<br>

{% if messages %}

    {% for message in messages %}

        <p style="color:green;">
            {{ message }}
        </p>

    {% endfor %}

{% endif %}

{% if mensaje %}

<p style="color:red;">
    {{ mensaje }}
</p>

{% endif %}

<table border="1">

    <thead>

        <tr>

            <th>ID</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Responsable</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>

    </thead>

    <tbody>

        {% for entidad in entidades %}

        <tr>

            <td>{{ entidad.id }}</td>
            <td>{{ entidad.codigo }}</td>
            <td>{{ entidad.nombre }}</td>
            <td>{{ entidad.descripcion }}</td>
            <td>{{ entidad.responsable }}</td>

            <td>

                {% if entidad.estado %}
                    Activa
                {% else %}
                    Inactiva
                {% endif %}

            </td>

            <td>
                <a href="{% url 'editar_entidad' entidad.id %}">
                    Editar
                </a>

                |

                <a
                    href="{% url 'eliminar_entidad' entidad.id %}"
                    onclick="return confirm('¿Eliminar entidad?');">
                    Eliminar
                </a>

                |

                {% if entidad.estado %}

                <a href="{% url 'cambiar_estado_entidad' entidad.id %}">
                Desactivar
                </a>

                {% else %}

                <a href="{% url 'cambiar_estado_entidad' entidad.id %}">
                Activar
                </a>

                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>